// theme-specifc overrides here

.btn {
  // the links inside a button should not use the "link" color
  a[href] {
    color: inherit;
  }
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.node-product {
  &.node-teaser {
    height: 15em;
    overflow: hidden;
  }

  >.content {
    >.field-name-field-image > .field-items > .field-item {
      display: inline-block;
    }
  }
}
